/*

#364675
#303440
#121726
#1D3375
#5872BF

*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #1d1d1d;

    display: grid;
    grid-template: 
        [header-left] "head head" 40px [header-right]
        [main-left] "main nav" 1fr [main-right]
        [footer-left] "foot foot" 100px [footer-right]
        / 1fr 1fr;
}

head {
    background-color: #392a5c;
    
    grid-area: head;
}

main {
    background-color: #454545;

    grid-area: main;

    max-width: 950px;
}
