body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #ffffff;

    padding: 0;
    margin: 0;
}

input {
    display: block;

    color: #646464;

    font-size: 1.1em;

    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;

    margin: 4px 0;
}
input:focus {
    outline: none;
}

nav {
    background-color: #d4d4d4;

    display: grid;
    grid-template-columns: repeat(2, 70px) 800px;

    padding: 0 30% 0 30%;
}

main {
    background-color: #ffffff;

    width: 950px;
    height: 100%;

    margin: 0 0 0 30%;
}

login-container {
    position: absolute;
    top: 30%;
    left: 40%;

    width: 300px;
    border: 1px solid #83838352;
    border-radius: 10px;

    padding: 20px 50px;
}
login-container button[type="submit"] {
    /* background-color: #2975e7;
    color: white; */

    font-size: 1.05em;

    border: 1px solid #2975e7;

    margin: 30px 0;
    padding: 4px 6px;
}
login-container button[type="submit"]:hover {
    background-color: #2975e7;
    color: white;

    font-size: 1.05em;

    border: 1px solid #2975e7;

    margin: 30px 0;
    padding: 4px 6px;
}
login-container input {
    width: 100%;
}

main-container {
    display: block;
    width: 100%;
    height: 100%;

    border-right: 1px solid #83838352;
    border-left: 1px solid #83838352;
    border-top: none;
    border-bottom: none;

    margin: auto;
    padding: 20px 30px;
}

mensagem-erro {
    display: none;

    color: red;

    font-size: 0.8em;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}